{% load django_tables2 %}
<div class="modal-header">
    <h5 class="modal-title" id="theModalLabel">Success!</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class='row'>
        <div class='col-md-12'>
            Successfully saved!
        </div>
    </div>
</div>
            
<script>

setTimeout(function() {
    $('#theModal').modal('hide')
}, 2000);

</script>