{% with p=object %}
    <div class="modal-header">
        <h5 class="modal-title" id="theModalLabel">{{ p.first_name }} {{ p.last_name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class='row'>
            <div class='col-md-4'>
                <img src='{{ p.large_photo }}' />
            </div>
            <div class='col-md-8'>
                <dl class="row">
                    <dt class="col-sm-5">Id</dt><dd class="col-sm-7 mb-0">{{ p.id }}</dd>
                    <dt class="col-sm-5">Sex</dt><dd class="col-sm-7  mb-0">{{ p.get_sex_display }}</dd>
                    <dt class="col-sm-5">Dob</dt><dd class="col-sm-7  mb-0">{{ p.dob|date:"d-m-y" }}</dd>
                    <dt class="col-sm-5">Nationality</dt><dd class="col-sm-7  mb-0">{{ p.nat }}</dd>
                </dl>
            </div>
        </div>
        <dl class='row'>
            
                <dt class="col-sm-2 mt-2">Address</dt><dd class="col-sm-10 mt-2 mb-0">{{ p.address }}</dd>
                <dt class="col-sm-2">Phone</dt><dd class="col-sm-9 mb-0">{{ p.phone }}</dd>
                <dt class="col-sm-2">Cell</dt><dd class="col-sm-9  mb-0">{{ p.cell }}</dd>
                </dl>
           
        </div>    
    
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
{% endwith %}