<div class='card-columns'>
    {% for p in object_list %}
        <div class="card" >
          <div class="card-body">
              <h4 class="card-title">{{ p.first_name }} {{ p.last_name }}</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-sm btn-primary">View</a>
            <a href="#" class="btn btn-sm btn-primary">Edit</a>
          </div>
        </div>
    {% endfor %}
</div>
<div class='row'>
    <div class='col-md-12'>
        {% if is_paginated %}
            {% if page_obj.has_next %}
                <button class='btn btn-primary' ic-get-from="?page={{ page_obj.next_page_number }}" ic-target="closest .row" ic-replace-target="true">
                Load more! <i class="fa fa-spinner fa-spin ic-indicator" style="display:none"></i>
                </button>
            {% else %}
                End of data!
            {% endif %}
        {% endif %}
    </div>
</div>
