{% extends "base.html" %}
{% block extra_meta %}
<meta name="turbolinks-visit-control" content="reload">
{% endblock %}

{% block title %}

Modern people list
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#theModal" 
      ic-get-from="{% url 'person_create' %}" ic-target=".modal-content" ic-replace-target="false"
      ic-on-beforeSend='clearModal' ic-indicator="#indicator"
    >
  +
</button>
<div class='indicator' id="indicator" style="display:none"></div>
{% endblock %}

{% block main %}
{% include "core/person_partial/person_filter_page.html" %}
{% endblock %}
{% block modal-container %}
    <div class="modal fade" id="theModal" tabindex="-1" role="dialog" aria-labelledby="A modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
      </div>
    </div>
{% endblock %}    

{% block extra_script %}
<script>
function clearModal() {
    $('.modal-content').html('<div class="modal-header"><h5 class="modal-title" id="theModalLabel">Loading</h5></div><div class="modal-body"><div class="indicator" id="indicatorLoading" ></div></div>');
}

$('body').on('refreshList', function (elt, msg, header, type) {
    Intercooler.refresh($('#filterForm'))
});
</script>
{% endblock %}    
