{% extends "base.html" %}
{% block extra_meta %}
<meta name="turbolinks-visit-control" content="reload">
{% endblock %}

{% block title %}Modern people list{% endblock %}

{% block main %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" 
      ic-get-from="{% url 'person_create' %}" ic-target=".modal-content" ic-replace-target="false"
    >
  Add person
</button>
   
{% include 'core/partial/person_page.html' %}
{% endblock %}
{% block modal-container %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
      </div>
    </div>
{% endblock %}    

