{% extends "base.html" %}
{% block title %}People list{% endblock %}
{% block main %}

<div class='row'>
    <div class='col-md-12'>
        <a class='btn btn-primary' href='{% url "person_create" %}'>Add</a>
    </div>
</div>

<div class='card-columns'>
    {% for p in object_list %}
        <div class="card" >
          <div class="card-body">
              <h4 class="card-title">{{ p.first_name }} {{ p.last_name }}</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="{% url 'person_view' p.id %}" class="btn btn-sm btn-primary">View</a>
            <a href="{% url 'person_update' p.id %}" class="btn btn-sm btn-primary">Edit</a>
          </div>
        </div>
    {% endfor %}
</div>

    
{% if is_paginated %}
    {% include "partial/_pagination.html" %}
{% endif %}

{% endblock %}
