{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block extra_style %}
{% endblock %}
{% block main %}
Welcome!

<hr />
<button ic-get-from="{% url 'home' %}" 
    class='btn btn-primary'
>Simple test </button>
<hr />
<button 
    ic-get-from="{% url 'home' %}" 
    ic-target='#remoteData'
    ic-indicator="#demoIndicator"
    ic-on-complete='console.log("Completed");'
    ic-on-beforeTrigger='console.log("Before trigger");'
    ic-on-beforeSend='console.log("Before send");'
    ic-on-success='console.log("Success!");'
    class='btn btn-primary'
>Not so simple test </button>
<div class='indicator' id="demoIndicator" style='display:none'></div>
<div id='remoteData'>Waiting for data ... </div>
{% endblock %}
