{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

    <style>
      body {
        padding-top: 5rem;
      }

      li.nav-item.active {
                border-bottom: 3pt solid #e67e22;
        }

      .bg-dark {
        background-color:#0a2e5c!important;
      } 

      a.navbar-brand.active {

                border-bottom: 3pt solid #e67e22;
        }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand active" href="{% url 'home' %}">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          {% include "partial/_navlink.html" with url_name='person_list' title='People list' %}
          {% include "partial/_navlink.html" with url_name='person_list' title='People table' %}
          {% include "partial/_navlink.html" with url_name='person_create' title='Add person' %}
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      <h2>{% block title %}{% endblock %}</h2>
      {% if request.path }}
      {% block main %}
      {% endblock %}
    </main><!-- /.container -->

    <script src="{% static 'jquery-3.2.1.slim.min.js' %}" ></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'turbolinks.min.js' %}"></script>
    <script src="{% static 'intercooler.min.js' %}"></script>
  <script>
    Turbolinks.setProgressBarDelay(10)
  </script>
  </body>
</html>
